.NotSign{
    position: absolute;
    /* background:url('../Img/AppBg.png'); */
    height: 100%;
    width: 100%;
    color:aliceblue;
}

.BoxSinin{
    position:absolute;
    backdrop-filter: blur(70px);
    margin-top: 0%;
    border-radius: 10px;
    width:fit-content;
    text-align: center;
    align-items: center;
}


.Sinin{
    padding:30px;
    
}
.immgg{
    margin-top: 5px;
    border-radius: 5px;
    width:200px;
}


@media screen and (max-width : 500px) {


}